<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/metrika</property>
        <property name="hibernate.connection.username">testuser</property>
        <property name="hibernate.connection.password">testuser</property>
        
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--<property name="show_sql">true</property>-->

        <mapping class="models.Webpage" />
        <mapping class="models.Goal" />

        <!--Search Engine-->
        <mapping class="models.sources.SearchEngine" />
        <mapping class="models.goals.GoalsReachesBySearchEngine" />
        <mapping class="models.views.ViewsBySearchEngine" />
        <mapping class="models.ecommerce.purchases.PurchasesBySearchEngine" />
        <mapping class="models.ecommerce.purchasedprice.PurchasedPriceBySearchEngine" />

        <!--Social Network-->
        <mapping class="models.sources.SocialNetwork" />
        <mapping class="models.goals.GoalsReachesBySocialNetwork" />
        <mapping class="models.views.ViewsBySocialNetwork" />
        <mapping class="models.ecommerce.purchases.PurchasesBySocialNetwork" />
        <mapping class="models.ecommerce.purchasedprice.PurchasedPriceBySocialNetwork" />


        <!--Referral Source-->
        <mapping class="models.sources.ReferralSource" />
        <mapping class="models.goals.GoalsReachesByReferralSource" />
        <mapping class="models.views.ViewsByReferralSource" />
        <mapping class="models.ecommerce.purchases.PurchasesByReferralSource" />
        <mapping class="models.ecommerce.purchasedprice.PurchasedPriceByReferralSource" />

        <!--Adv Engine-->
        <mapping class="models.sources.AdvEngine" />
        <mapping class="models.goals.GoalsReachesByAdvEngine" />
        <mapping class="models.views.ViewsByAdvEngine" />
        <mapping class="models.ecommerce.purchases.PurchasesByAdvEngine" />
        <mapping class="models.ecommerce.purchasedprice.PurchasedPriceByAdvEngine" />

        <!--Search Phrase-->
        <mapping class="models.sources.SearchPhrase" />
        <mapping class="models.goals.GoalsReachesBySearchPhrase" />
        <mapping class="models.views.ViewsBySearchPhrase" />
        <mapping class="models.ecommerce.purchases.PurchasesBySearchPhrase" />
        <mapping class="models.ecommerce.purchasedprice.PurchasedPriceBySearchPhrase" />

        <!--Traffic Source-->
        <mapping class="models.sources.TrafficSource" />
        <mapping class="models.goals.GoalsReachesByTrafficSource" />
        <mapping class="models.views.ViewsByTrafficSource" />
        <mapping class="models.ecommerce.purchases.PurchasesByTrafficSource" />
        <mapping class="models.ecommerce.purchasedprice.PurchasedPriceByTrafficSource" />

    </session-factory>
</hibernate-configuration>